<div class="mt-4">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title> Selezione degli esami </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
          <div class="">
            <p class="text-center text-lg">Ambulatori</p>
            <mat-selection-list
              class="border border-solid rounded-sm max-h-64 overflow-y-auto"
              [multiple]="false"
            >
              @for (ambulatorio of ambulatori(); track ambulatorio) {
              <mat-list-option [value]="ambulatorio.id">
                {{ ambulatorio.descrizioneAmbulatorio }}
              </mat-list-option>
              }
            </mat-selection-list>
          </div>
          <div class="">
            <p class="text-center text-lg">Posizioni del corpo</p>
            <mat-selection-list
              class="border border-solid rounded-sm max-h-64 overflow-y-auto"
              [multiple]="false"
            >
              @for (posizione of posizioni(); track posizione) {
              <mat-list-option [value]="posizione.id">{{
                posizione.descrizionePosizione
              }}</mat-list-option>
              }
            </mat-selection-list>
          </div>
          <div class="">
            <p class="text-center text-lg">Esami</p>
            <mat-selection-list
              class="border border-solid rounded-sm max-h-64 overflow-y-auto"
              [multiple]="false"
            >
              @for (esame of esami(); track esame) {
              <mat-list-option [value]="esame.id">
                {{ esame.descrizioneEsame }}
              </mat-list-option>
              }
            </mat-selection-list>
          </div>
          <div class="text-center col-span-full">
            <button matButton="tonal" type="submit">Conferma Esame</button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
